<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="model" default="$(find pkg_techfest_imc)/urdf/model.urdf"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- <arg name="world_name" value="$(find pkg_techfest_imc)/world/my_arena.world"/> -->
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
  <rosparam file="$(find pkg_techfest_imc)/config/pos_control.yaml" command="load"/>
  <node name="controller_spawner" pkg ="controller_manager" type="spawner" args="
    joint_state_controller 
    base_to_second_joint_position_controller 
  	base_to_first_joint_position_controller"/>

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-x 0 -y 0 -z 0.03 -unpause -urdf -model robot -param robot_description" respawn="false" output="screen" />



</launch>
<!-- -x -1.35 -y 1.23 -z 0.03 -->